.hero {
  height: 90vh;
  background: url("/public/images/hero.jpg") no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 20px;
}

.hero-text h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Responsive */
@media (max-width: 768px) {
  .hero-text h2 {
    font-size: 26px;
  }
  .hero-text p {
    font-size: 16px;
  }
}
